body {
  background-color: #f4f5f7;
}

.card {
  width: 400px;
  margin: 170px auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: none;
  padding: 30px;
}

.head {
    margin: 0;
    font-size: 35px;
}

.btn-primary {
  background-color: #0d6efd;
  border: none;
}

.btn-primary:hover {
  background-color: #0b5ed7;
}
